name: Continuous Integration

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: build task
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'automagicallyexecute/package-lock.json'

      - name: install dependencies
        run: npm ci
        working-directory: "automagicallyexecute/"

      - name: build
        run: npm run build
        working-directory: "automagicallyexecute/"

      - name: prune
        run: npm prune --omit=dev
        working-directory: "automagicallyexecute/"

      - name: install tfx
        run: npm add -g tfx-cli

      - name: tfx build
        run: tfx extension create --manifest-globs vss-extension.json

  lint:
    runs-on: ubuntu-latest
    name: linting
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'automagicallyexecute/package-lock.json'

      - name: install dependencies
        run: npm ci
        working-directory: "automagicallyexecute/"

      - name: lint
        run: npm run lint
        working-directory: "automagicallyexecute/"

  test:
    runs-on: ubuntu-latest
    name: testing
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'automagicallyexecute/package-lock.json'

      - name: install dependencies
        run: npm ci
        working-directory: "automagicallyexecute/"

      - name: lint
        run: npm run test
        working-directory: "automagicallyexecute/"
